@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

* {
    background-color: black;
}
.login-formulary{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.bq-logo {
    width: 15%;
    height: 18%;
    margin-bottom: 2%;
}
#login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-header{
    font-family: Rokkitt;
    font-weight: 900;
    font-size: 4em;
    margin-bottom: 2%;
}
.email, .password {
    background: #FFFEFE;
    width: 80%;
    height: 7vh;
    border-radius: 12px;
    margin: 20px;
    font-family: 'gelasio';
    font-weight: 400;
    font-size: 35px;
    padding-left: 25px;
    color: black;
}
.password{
    margin-bottom: 18%;
}
.log-in-btn {
    background: #FFA210;
    width: 35%;
    height: 100%;
    border-radius: 12px;
    font-family: 'Rokkitt';
    font-weight: 900;
    font-size: 45px;
    color: #FFFEFE;
}
#login-error {
    color: #FBCA01;
    font-size: 1.5em;
    font-family: 'Gelasio';
    font-weight: bold;
    position: absolute;
    bottom:23%;
}
